@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>Sergei Sviridov</h3>

<address>
    Saratov, Russia<br />
    <abbr title="Phone">P:</abbr>
    +7-905-034-9790
</address>

<address>
    <strong>Email:</strong> <a href="mailto:sviridovserg@gmail.com">sviridovserg@gmail.com</a><br />
</address>
