@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-8">
        <img src="~/images/banner.png" />
    </div>
    <div class="col-md-4">
        <h2>We have what you want!</h2>
        <ul>
            <li>Best cars among competitors</li>
            <li><a href='@Url.Action("Index", "CarRent")'>Try now</a> and you will never forget</li>
        </ul>
    </div>
</div>



